# Postgres database connection string
DATABASE_URL="postgresql://neondb_owner:npg_5E0pLwfDMabR@ep-fragrant-breeze-aiquuovh-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# ImgBB API key for secure image uploads.
IMGBB_API_KEY=4042c537845e8b19b443add46f4a859c

# Optional frontend and backend ports for development.
# FRONTEND_PORT configures Vite dev server.
# SERVER_PORT configures the backend API server.
FRONTEND_PORT=5173
SERVER_PORT=5174
